<p>show informatiobn</p>

<a href="/showInformation/dupicateGames">to Dublicated Games</a>
<a href="/showInformation//gamesByDelevpors"> how many games by each develpor</a>
{{#each games}}
<fieldset>
<p> Title: {{Title}}  Genre: {{Genere}} Console: {{Console}} DevelporName: {{Name}} Publisher: {{name}}</p>
</fieldset>
<br>
{{/each}}